@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("./assets/css/switzer.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Switzer-Variable";
  background-color: #e8e9e8;
  color: #14241c;
}
